<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Content-Type-Options" />
        <remove name="X-Frame-Options" />
        <remove name="Content-Security-Policy" />
        <remove name="Report-To" />
        <remove name="Reporting-Endpoints" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data: blob:; media-src 'self'; worker-src 'self' blob:; manifest-src 'self'; connect-src 'self' https://ambaspherebackend.mtc.com.na ws://localhost:4000 https://ambaspherebackend.mtc.com.na wss://ambaspherebackend.mtc.com.na https://ambasphereuat.mtc.com.na https://ambasphere.mtc.com.na; object-src 'none'; frame-src 'none'; frame-ancestors 'none'; base-uri 'self'; form-action 'self'; upgrade-insecure-requests; report-to csp-endpoint" />
        <add name="Reporting-Endpoints" value="csp-endpoint=&quot;https://ambaspherebackend.mtc.com.na/csp-report&quot;" />
        <add name="Report-To" value="{&quot;group&quot;:&quot;csp-endpoint&quot;,&quot;max_age&quot;:10886400,&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https://ambaspherebackend.mtc.com.na/csp-report&quot;}]}" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
